ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

ul li {
  border: 1px solid black;
  
  padding: 10px;
}

.item-wrapper {
  position: relative;
  margin: 0 5px 5px 0;
}

.item-wrapper .remove-item {
  position: absolute;
  top: 5px;
  right: 10px;
}