ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

ul li {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

ul a {
  text-decoration: none;
  color: black;
}

ul p {
  overflow: hidden;
}

.item-wrapper {
  position: relative;
  margin: 0 5px 5px 0;
  border: 1px solid black;
  width: 250px;
  height: 250px;
  background-color: lightsteelblue;
}

.item-wrapper .remove-item {
  position: absolute;
  top: 5px;
  right: 5px;
}